// fonts
$font-1: 'Raleway', sans-serif;
$font-2: 'Pacifico', cursive;
$font-icons: 'Glyphicons Halflings';
$f-size-xs: 16px;
$f-size-sm: 24px;
$f-size-md: 30px;
$f-size-lg: 72px;
$f-size-xg: 100px;

// colors
$blue-violet: #6D5FB6;
$light-gray: #E6E6E6;
$gray: #808080;
$dark-gray: #1E1E1E;
$java: #16C3B0;
$saffron: #F1C22E;
$scooter: #2DB3D9;
$sunset-orange: #FD4D40;

$danger: $sunset-orange;
$default: $gray;
$info: $blue-violet;
$primary: $scooter;
$success: $java;
$warning: $saffron;
