.footer {

    .contact-info {
        background: $blue-violet;

        ul {
            margin-bottom: 0;
            padding: 0;

            li {
                list-style: none;
                padding-bottom: 75px;
                padding-top: 75px;
                position: relative;

                &:first-of-type {

                    &:after {
                        background-position: -4px 0;
                        height: 96px;
                        margin-left: -52.5px;
                        width: 105px;
                    }
                }

                &:nth-of-type(2) {

                    &:after {
                        background-position: -8px -101px;
                        height: 96px;
                        margin-left: -51px;
                        width: 102px;
                    }
                }

                &:nth-of-type(3) {

                    &:after {
                        background-position: -8px -302px;
                        height: 103px;
                        margin-left: -48.5px;
                        width: 97px;
                    }
                }

                &:last-of-type {

                    &:after {
                        background-position: -3px -201px;
                        height: 98px;
                        margin-left: -54px;
                        width: 108px;
                    }
                }

                &:after {
                    background: url('../img/sprites/default.png') no-repeat;
                    content: '';
                    display: block;
                    left: 50%;
                    margin-top: -51.5px;
                    position: absolute;
                    top: 0;
                }
            }
        }

        h2 {
            color: #FFF;
            font-size: $f-size-xs;
            margin: 0;
            text-align: center;
            word-break: break-word;
        }
    }

    .copyright {
        background: $light-gray;
        padding: 7.5px 0;

        p {
            color: $gray;
            margin: 7.5px 0;
            text-align: left;
            text-transform: uppercase;

            &.ziny {
                display: inline-block;
                font-weight: 700;
                padding-bottom: 10px;
                position: relative;
                text-align: right;

                &:before,
                &:after,
                a:before,
                a:after {
                    bottom: 0;
                    content: '';
                    height: 5px;
                    width: 25%;
                    position: absolute;
                }

                &:before {
                    background: $scooter;
                    left: 0;
                }

                &:after {
                    background: $saffron;
                    left: 25%;
                }

                a:before {
                    background: $java;
                    left: 50%;
                }

                a:after {
                    background: $sunset-orange;
                    right: 0;
                }

                i {
                    color: $sunset-orange;
                }
            }
        }

        a {
            color: $gray;
        }
    }
}
