// Variables
@import "variables";

/*#region ---> Main <---*/
*{
  margin: 0 auto;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: arial;

  box-sizing: border-box;
}
/*#endregion ---> Main <---*/

/*#region ---> Header <---*/
body {
  background: $gray;
}
/*#endregion ---> Header <---*/
